<root>
  <FileGroup Name="jquery.easyui.js">
    <File Path="jquery.parser.js" Minify="false" />
    <File Path="jquery.draggable.js" Minify="false" />
    <File Path="jquery.droppable.js" Minify="false" />
    <File Path="jquery.resizable.js" Minify="false" />
    <File Path="jquery.linkbutton.js" Minify="false" />
    <File Path="jquery.pagination.js" Minify="false" />
    <File Path="jquery.tree.js" Minify="false" />
    <File Path="jquery.progressbar.js" Minify="false" />
    <File Path="jquery.panel.js" Minify="false" />
    <File Path="jquery.window.js" Minify="false" />
    <File Path="jquery.dialog.js" Minify="false" />
    <File Path="jquery.messager.js" Minify="false" />
    <File Path="jquery.accordion.js" Minify="false" />
    <File Path="jquery.tabs.js" Minify="false" />
    <File Path="jquery.layout.js" Minify="false" />
    <File Path="jquery.menu.js" Minify="false" />
    <File Path="jquery.menubutton.js" Minify="false" />
    <File Path="jquery.splitbutton.js" Minify="false" />
    <File Path="jquery.searchbox.js" Minify="false" />
    <File Path="jquery.validatebox.js" Minify="false" />
    <File Path="jquery.form.js" Minify="false" />
    <File Path="jquery.numberbox.js" Minify="false" />
    <File Path="jquery.calendar.js" Minify="false" />
    <File Path="jquery.spinner.js" Minify="false" />
    <File Path="jquery.numberspinner.js" Minify="false" />
    <File Path="jquery.timespinner.js" Minify="false" />
    <File Path="jquery.datagrid.js" Minify="false" />
    <File Path="jquery.propertygrid.js" Minify="false" />
    <File Path="jquery.treegrid.js" Minify="false" />
    <File Path="jquery.combo.js" Minify="false" />
    <File Path="jquery.combobox.js" Minify="false" />
    <File Path="jquery.combotree.js" Minify="false" />
    <File Path="jquery.combogrid.js" Minify="false" />
    <File Path="jquery.datebox.js" Minify="false" />
    <File Path="jquery.datetimebox.js" Minify="false" />
    <File Path="jquery.slider.js" Minify="false" />
  </FileGroup>
</root>