<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线查分系统</title>
</head>
<body>
    <button onclick="document.location='admin/student'">学生</button>
    <button onclick="window.location='admin/score'">成绩</button>
</body>
</html>