<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线查分系统</title>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/ajaxfileupload.js"></script>
     <script src="/javascripts/laypage/laypage.js"></script>
    <style type="text/css"> 
        
body {  
 font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;  
 color: #4f6b72;  
 background: #E6EAE9;  
}  
  
#mytable {  
 padding: 0;  
 margin: 0; 
}  
 
th {  
 font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;  
 color: #4f6b72;  
 border-right: 1px solid #C1DAD7;  
 border-bottom: 1px solid #C1DAD7;  
 border-top: 1px solid #C1DAD7;  
 letter-spacing: 2px;  
 text-transform: uppercase;  
 text-align: center;  
 padding: 6px 6px 6px 12px;  
 background: #CAE8EA url(images/bg_header.jpg) no-repeat; 
}  
td.nobg {  
 border-top: 0;  
 border-left: 0;  
 border-right: 1px solid #C1DAD7;  
 background: none;  
}  
td {  
 border-right: 1px solid #C1DAD7;  
 border-bottom: 1px solid #C1DAD7;  
 background: #fff;  
 font-size:11px;  
 padding: 6px 6px 6px 12px;  
 color: #4f6b72;  
}  
  
td.alt {  
 background: #F5FAFA;  
 color: #797268;  
 
}  


td.score_value {
    width: 40px;
    text-align: right;
} 
 
</style> 
</head>
<body>
    <div class="uploadFile"> 
        <label>
            <span>学 校:</span>
            <input id="school" type="text" name="school" placeholder="学校" />
        </label>
        <label>
            <span>考 号:</span>
            <input id="no" type="text" name="no" placeholder="考号" />
        </label>
        <label>
            <span>姓 名:</span>
            <input id="name" type="text" name="name" placeholder="姓 名" />
        </label>
        <input type="hidden" id="hidFileName" /> 
        <input type="button" id="RefreshScore" value="刷新" />
        <input type="button" id="btnUploadFile" value="导入成绩" /> 
    </div> 
    
    <br>
    <div id="scoreList"></div>
    <div id="scorePage"></div>
</body>
<script> 

// wait for the DOM to be loaded 
   var $pageCount = 0;
   var $pageIndex = 1;
   var $nums = 20; //每页出现的数量
   var $scoreRefreshWhere = "";
   $(document).ready(function () {
        $('#RefreshScore').click(function(){
            $scoreRefreshWhere = getSearchWhere();
            $.ajax({
                    url: '/admin/getScore?scoreCount' + $scoreRefreshWhere,
                    type: 'POST',
                    data: null,
                    // async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data){
                        $pageCount = data.pageCount;
                        initPage();
                    },
                    error: function(){
                          $('#scoreList').html("与服务器通信发生错误");
                    }
            });
            return false;
        });

        var btnFile = document.getElementById("btnUploadFile"); 
        var hidFileName = document.getElementById("hidFileName"); 
        g_AjxUploadFile(btnFile, hidFileName); 
        
 
    });

//文档上传 
function g_AjxUploadFile(btn, hidPut, action) { 
    var button = btn, interval; 
    new AjaxUpload(button, { 
        action: "uploadScore", 
        data: {}, 
        name: 'file', 
        responseType: "json",
        onSubmit: function(file, ext) { 
            if (!(ext && /^(rar|zip|pdf|pdfx|txt|csv|xls|xlsx|doc|docx|RAR|ZIP|PDF|PDFX|TXT|CSV|XLS|XLSX|DOC|DOCX)$/.test(ext))) { 
                alert("您上传的文档格式不对，请重新选择！"); 
                return false; 
            } 
        }, 
        onComplete: function(file, response) { 
            flagValue = response; 
            if (flagValue == "1") { 
                alert("您上传的文档格式不对，请重新选择！"); 
            } 
            else if (flagValue == "2") { 
                alert("您上传的文档大于2M，请重新选择！"); 
            } 
            else if (flagValue == "3") { 
                alert("文档上传失败！"); 
            } 
            else { 
                hidPut.value = response; 
                alert(response.rtnInfo);
            } 
        } 
    }); 
} 

function getSearchWhere(){
    var $where = "";
    var $obj = $("#school").val();
    if($("#school").val()){
        $where += "&school=" + $("#school").val();
    }

    if($("#no").val()){
        $where += "&no=" + $("#no").val();
    }

    if($("#name").val()){
        $where += "&name=" + $("#name").val();
    }

    return $where;
}


    function getPage($pageSize){
        $.ajax({
            url: '/admin/getScoreList?pageCount=' + $nums + "&page=" + $pageSize + $scoreRefreshWhere,
            type: 'POST',
            data: null,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data){
                    $('#scoreList').html(data);
            },
            error: function(){
                    $('#scoreList').html("与服务器通信发生错误");
            }
        });
    }

function initPage(){
    //调用分页
    laypage({
        cont: 'scorePage',
        pages: Math.ceil($pageCount/$nums),
        jump: function(obj){
            $pageIndex = obj.curr;
            getPage(obj.curr);
            
        }
    })
}

function removeRow(Obj, id){        
    $.ajax({
        url: '/admin/deleteScore?id=' + id,
        type: 'POST',
        data: null,
        // async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function(data){
            if(data.rtnCode == 0){
                alert(data.rtnInfo);
            }else{
                //var tr=Obj.parentNode.parentNode; 
                //var tbody=tr.parentNode; 
                //tbody.removeChild(tr); 
                getPage($pageIndex);
            }
        },
        error: function(){
            alert("删除失败");
        }
    });
    return false;
}

</script>
</html>