<!doctype html>
<html>
<head>
    <meta charset="UTF-8">  
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TextBox - jQuery EasyUI Mobile Demo</title>  
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/metro/easyui.css">  
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/mobile.css">  
	<link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/color.css"> 
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/icon.css">  
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.min.js"></script>  
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.easyui.min.js"></script> 
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.easyui.mobile.js"></script> 

	<style>
		.m-list li {
			border-width: 0 0 0 0;
		}
	</style>
</head>
<body>
	<div class="easyui-navpanel">
		<header>
			<div class="m-toolbar">
				<div class="m-title">在线查询</div>
			</div>
		</header>
		<header>
		<ul class="m-list">
			<li><span>学校</span><br><input class="easyui-textbox" prompt="学校" style="width:100%" id= "qscore_school"></li>
			<li><span>学号</span><br><input class="easyui-textbox" prompt="学号" style="width:100%" id= "qscore_no"></li>
			<li><span>姓名</span><br><input class="easyui-textbox" prompt="姓名" style="width:100%" id = "qscore_name"></li>
		</ul>
		</header>
	<div style="padding:0px 10px 10px 10px">
		<p><a href="javascript:void(0);" onclick="scoreInfo.query()" class="easyui-linkbutton c6" style="width:100%">Button6</a></p>
		</div>
	</div>
	<div style="padding:0px 10px 10px 10px">
		<span id="smessage">
	</div>
</body>	
</html>
<script>
	var scoreInfo = {
		query = function() {
			 $.ajax({
					url: '/admin/deleteScore',
					type: 'post',
					data: { 'score_school': $('#qscore_school').val(), 'score_no' : $('#qscore_no').val(), 'score_name' :  $('#qscore_name').val() },
					dataType: 'json',
					success : function(data) {
						$('#smessage').html(data);
					}
				});
		}
	};
</script>
