<!doctype html>
<html>
<head>
    <meta charset="UTF-8">  
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TextBox - jQuery EasyUI Mobile Demo</title>  
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/metro/easyui.css">  
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/mobile.css">  
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/icon.css">  
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.min.js"></script>  
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.easyui.min.js"></script> 
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.easyui.mobile.js"></script> 
	<style>
		.m-list li {
			border-width: 0 0 0 0;
		}
	</style>
</head>
<body>
	<div class="easyui-navpanel">
		<header>
			<div class="m-toolbar">
				<div class="m-title">在线查询</div>
			</div>
		</header>
		<ul class="m-list">
			<li><span>学校</span><br><input class="easyui-textbox" prompt="学校" style="width:100%"></li>
			<li><span>学号</span><br><input class="easyui-textbox" prompt="学号" style="width:100%"></li>
			<li><span>姓名</span><br><input class="easyui-textbox" prompt="姓名" style="width:100%"></li>
		</ul>

	</div>
</body>	
</html>
